
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-color: #042940;
    color: white;
    text-align: justify;
    font-family: monospace;
    
}

#contenedor{
    margin-top: 35px;
    width: 1250px;
    height: auto;
    background-color: #9FC131;
    max-width: 0 auto;
  
}

article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: 10px;
    margin-top: 10px;
    margin-left: 130px;
    margin-right: 130px;
}

h1{
    border-style: ridge;
    border-color: #D6D58E;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #005C53;
}
#encabezado{
    text-align: center;
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    background-color: #005C53;
 
    
}

.imgLogos{
    width: 140px;
    height: 125px;
    border-radius: 10px;
    margin: 2em 4em;
}


.textos{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0,0,0.19);
    background-color: #d6d58ea0 ;

}

div.galeria img{
    width: 25%;
    height: 25%;
}

div.galeria:hover{
    border: 3px solid rgb(3, 74, 110);
    transform: rotate(-1deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px #005C53;
    padding: 8px;
}


#pie {
    height: 10%;
    background-color: #005C53;
 
 
    text-align: center;
    padding: 5px;
}

#menu {
    height: 5%;
    background-color: #9FC131;

}
ul {
    text-align: center;
    padding-top: 15px;
}

li {
    display: inline;
    margin: 40px;
    margin-left: 60px;
}

li a:hover {
    text-decoration: solid;
    font-size: 20px;
    color:  #001827;
    cursor: pointer;
}

.textDecoration{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005C53;
}

.guionColor{
    color: #005C53;
    font-size: 18px;
    padding-left: 65px;
}

.contenedor-pie{
    margin-top: 35px;
    margin-left: 60px;
    border: #9FC131;
    border-radius: 10px;
    border-style: double;
    width: 1390px;
    height: auto;
    background-color: #005C53;;
    max-width: 0 auto;
}
p{
    font-size: 17px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 230px;
    font-size: 14px;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    
    
}
h2{
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.h1Tam{
    font-size: 25px;
}
.h2text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    font-style: initial;
}