/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-color: #f1ecea;
    color: white;
    text-align: justify;
    font-family: monospace;
}

/* Selecto de Clases */
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 25px 25px;
    color: white;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid;
    margin: 0 5px;
    justify-items: center;
}

.img-aside{
    width: 150px;
    height: 150px;
    border: 2px solid;
    margin: 0 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 30px;
    text-align: center;
    background-color: #3a251c;
    color: rgb(255, 255, 255);
    margin: 1em 1em;
    border-radius: 75px;
}

.encabezado-aside {
    padding: 50px 10px;
    text-align: center;
    background-color: #3a251c;
    color: white;
    margin: 1em 1em;
    border-radius: 45px;
    
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 25px 25px;
}

.lista-aside {
    padding: 10px;
    font-size: medium;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: white;
}

.textDecoration{
    text-decoration: underline;
    font-size: 18px;
    color: darkblue;
}

.guionColor{
    color: darkblue;
}
/* Selector Id */
#contenedor {
    width: 895px;
    height: auto;
    background-color: #b58c7c;
    max-width: 0 auto;

}

#encabezado {
    height: 100%;
    width: 32%;
    background-color: #3a251c;
    padding: 0px 303px;
}

#menu {
    height: 5%;
    background-color: #b46424;

}

#contenido {
    height: 500%;
    width: 50%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-table;
    border-radius: 20px;
    text-align: center;

}

#fueraSeccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 10%;
    background-color: #3a251c;
 
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de Etiqueta */

ul {
    text-align: center;
    padding-top: 15px;
}

li {
    display: inline;
    margin: 5px;
}

li a:hover {
    text-decoration: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    nav, .row{
        flex-direction: column;
    }
    
    body{background-color: black;}
} 
    



